*{
  box-sizing: border-box;
}
.App{
  background-color: #001C30;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-box{
  background-color: #176B87;
  padding: 3%;
  border-radius: 2%;
  box-shadow: inset;
}
.form-box label{
  color: #DAFFFB;
  font-size: 1.2em;
  margin-bottom: 6px;
  margin-top: 2px;
}
.form-box input{
  width: 100%;
  font-size: x-large;
  border: 1px;
  border-radius: 20px;
  padding-left: 20px;
  outline: none;
}
.lab{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: medium;
}
.flex-start{
  margin: 0px;
  padding: 0px;
}
.flex-start p{
  margin-bottom: -5px;
}